node_modules
config/pass.js
../New Compressed (zipped) Folder.zip
../app-backend-ts/
../app-backend/
email-s3-final.zip
email-ts-migrate-3.zip
email-ts-migrate.zip
email-ts-module.zip
../kuttle_flutter/
../ts-setup-boilerplate/
../windows-git-install.txt